body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tab-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #004d40;
    padding: 10px;
}
.tab-buttons button {
    background-color: #00796b;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}
.tab-buttons button:hover {
    background-color: #004d40;
    transform: scale(1.05);
}
.tab {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tab.active {
    display: block;
}
h2 {
    color: #00796b;
    font-size: 1.5em;
    margin-bottom: 10px;
}
h3 {
    color: #004d40;
    font-size: 1.2em;
    margin-bottom: 8px;
}
p {
    margin-bottom: 10px;
}
.tab-buttons button.active {
    background-color: #004d40;
    transform: scale(1.1);
}
* {
    line-height: 1.6;
    color: black;
}
h1 {
    font-size: 2em;
    color: #e0f7fa;
    margin: -0.3em 0 0 0;
    margin-top: -0.3em;
}
nav {
    background-color: #004d40;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.copyright {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 0.8em;
}
.return {
    display:block;
    text-align: center;
    padding: 10px 20px;
    background-color: #004d40;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.return:hover {
    background-color: #00796b;
    transform: scale(1.05);
}